<!DOCTYPE html>
<html lang="de" ng-app="TodoListe">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Vorlage Aufgaben-Editor</title>
  <link rel="icon" href="favicon.ico">

  <link rel="stylesheet" href="vendor/material-icons-3.0.1/material-icons.css">
  <link rel="stylesheet" href="vendor/roboto/roboto.css">

  <link rel="stylesheet" href="vendor/angular-material-1.1.10/angular-material.min.css">

  <link rel="stylesheet" href="app.css">

  <script src="vendor/jquery-3.3.1/jquery.min.js"></script>
  <script src="vendor/moment.js-2.22.2/moment.min.js"></script>
  <script src="vendor/moment.js-2.22.2/locale/de.js" charset="UTF-8"></script>

  <script src="vendor/angularjs-1.7.2/angular.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-resource.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-messages.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-sanitize.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-cookies.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-animate.min.js"></script>
  <script src="vendor/angularjs-1.7.2/angular-aria.min.js"></script>
  <script src="vendor/angularjs-1.7.2/i18n/angular-locale_de.js"></script>

  <script src="vendor/angular-material-1.1.10/angular-material.min.js"></script>
  <script src="vendor/angular-ui-router-1.0.20/angular-ui-router.min.js"></script>

  <script src="app.js"></script>
  <script src="components/seiten-nav.js"></script>
  <script src="components/auth.js"></script>
  <script src="components/file-content-chooser.js"></script>
  <script src="components/dataurl-downloader.js"></script>
  <script src="models/task.js"></script>
  <script src="models/seite.js"></script>
  <script src="services/rest.js"></script>
  <script src="services/auth.js"></script>
</head>

<body layout="column" ng-cloak>

  <!-- ************************** Ansicht Aufgaben-Editor ******************** -->
  <div class="task-editor" layout="column">

    <!-- Toolbar -->
    <md-toolbar>
      <div class="md-toolbar-tools">
        <!-- Zurück-Button -->
        <md-button class="md-icon-button">
          <md-icon md-font-icon="material-icons">arrow_back</md-icon>
        </md-button>

        <div flex class="center">Aufgabe bearbeiten</div>

        <!-- Speichern-Button -->
        <md-button class="md-icon-button">
          <md-icon md-font-icon="material-icons">check</md-icon>
        </md-button>
      </div>
    </md-toolbar>


    <form flex="none" layout="row" layout-align="start start" layout-padding>

      <md-input-container flex>
        <label>Kurztext</label>
        <input type="text">
      </md-input-container>

      <md-input-container>
        <file-content-chooser ng-model="Hier_etwas_Sinnvolles_einsetzen">
          <md-button class="md-icon-button">
            <md-icon md-font-icon="material-icons">cloud_upload</md-icon>
          </md-button>
        </file-content-chooser>
      </md-input-container>

      <md-input-container flex="10" class="select">
        <label>Priorität</label>
        <md-select class="center" ng-model="Auch_hier_etwas_Sinnvolles_einsetzen">
          <md-option ng-value="1">1</md-option>
          <md-option ng-value="2">2</md-option>
          <md-option ng-value="3">3</md-option>
        </md-select>
      </md-input-container>

      <md-input-container flex="20">
        <label>Fällig bis</label>
        <input type="date">
      </md-input-container>

      <md-input-container>
        <md-checkbox flex="10" class="center">
        </md-checkbox>
      </md-input-container>

    </form>
  </div>
  <!-- ************************** Ende Ansicht Aufgaben-Editor ******************** -->

</body>

</html>